# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Clang LSP configuration & cache files
compile_commands.json
.cache
.cache/*

# Generated sudoku boards
sudokuBoards
sudokuBoards/*
*.sb

# Build directory
build
build/*
